
$theme_main-cntr: 1200;

// Outer Containers
$outer-cntr: 1200;

@each $current-oc in $outer-cntr {
    $i: index($outer-cntr, $current-oc);
    
    .cntr_outer-#{nth($outer-cntr, $i)} { 
        max-width: nth($outer-cntr, $i) + px;
        width: 100%;
        margin: 0 auto;
    }
}


// Inner Containers
$inner-cntr: 900 1000; 

@each $current-ic in $inner-cntr {
    $i: index($inner-cntr, $current-ic);
    
    .cntr_inner-#{nth($inner-cntr, $i)} { 
        max-width: nth($inner-cntr, $i) + px;
        width: 100%;
        margin: 0 auto;
    }
}