@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  position: relative;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", HelveticaNeue, "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "Sogoe UI", Verdana, "メイリオ", Meiryo, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff;
  font-weight: normal;
  margin: 0 auto;
  color: #000000;
}

.gap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
}

.gap.gap-0-xs {
  margin-left: 0px;
  margin-right: 0px;
}

.gap.gap-0-xs > [class^="xs"] {
  padding-left: 0px;
  padding-right: 0px;
}

.gap.gap-0-xs > [class*=" xs"] {
  padding-left: 0px;
  padding-right: 0px;
}

@media (min-width: 769px) {
  .gap.gap-0 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .gap.gap-0 > [class^="md"] {
    padding-left: 0px;
    padding-right: 0px;
  }
  .gap.gap-0 > [class*=" md"] {
    padding-left: 0px;
    padding-right: 0px;
  }
  .gap.gap-10 {
    margin-left: -10px;
    margin-right: -10px;
  }
  .gap.gap-10 > [class^="md"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .gap.gap-10 > [class*=" md"] {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/********/
/* EXTRA SMALL DEVICES */
/********/
.xs-0 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 0%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 0%;
          flex: 0 0 0%;
  max-width: 0%;
}

.xs-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.xs-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

/********/
/* MEDIUM DEVICES */
/********/
@media (min-width: 769px) {
  .md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .md-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.cntr_outer-1200 {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.cntr_inner-900 {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.cntr_inner-1000 {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.test {
  color: red;
}
